@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@200;400;600&display=swap');
@import "hamburger.css";
body{
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    background-color: #f7f6f3;
} 
.card{
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.card img {
    height: 350px;
    object-fit: cover;
}
.container-size{
    padding: 4px 10px;
}
.disabled-color{
    border-color: rgb(155, 155, 155);
    color: #212529;
    background-color: transparent;
    pointer-events: none;
    opacity: .65;
}
.disabled-size{
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    pointer-events: none;
    opacity: .65;
}
/* Home Page */
.navbar{
    .nav-link{
        color: black;
    }
    .fa-bag-shopping{
        font-size: 18px;
    }
}

.hero{
    margin-top: 56px;
}
.img-hero{
    max-height: 890px;
}
.img-motivation{
    max-height: 472px;
}
.carousel-text-hero{
    left: 10%;
    bottom: 7rem;
    text-align: left;
}
.carousel-text-motivation{
    bottom: 8rem;
}
/* Abuot Page */
.carousel-text-about{
    bottom: 7rem;
}
.text-about{
    font-size: 19px;
}
/* gallery page */
.gallery .img-fluid{
    border-radius: 5px;
    object-fit: cover;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.btn-size{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
/* Smartphone */
/* @media (max-width: 575.98px)   */
@media (max-width: 767.98px) {
    .card .card-title{
        font-size: 15px;
    } 
    .card img {
        height: 250px;
        object-fit: cover;
    }
    .img-hero{
        max-height: 200px;
    }
    .img-motivation{
        max-height: 150px;
    }
    .container-size{
        padding: 1px 7px;
    }
    .container-size p{
        font-size: 15px;
    }
    .carousel-text-about{
        bottom: 1rem;
    }
    .text-about{
        font-size: 15px;
    }
    .carousel-text-motivation{
        bottom: 1.15rem;
        .text-quote{
            font-size: 15px;
            margin-bottom: 18px !important;
        }
        .text-quote-by{
            font-size: 13px; 
        }
    }
    .carousel-text-hero{
        bottom: .15rem;
        .btn{
            font-size: 7px;
        }
        .btn-shop{
            padding-top: 3px;
            padding-bottom: 2px;
        }
        .text-hero{
            font-size: 8px !important
        };
        .text-title{
            font-size: 9px !important
        };
    }
    .text-footer{
        font-size: 13px;
    }
    .icon-sosial{
        font-size: 20px;
    }
}
/* Tablet and Ipad */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .carousel-text-about{
        bottom: 5rem;
    }
    .carousel-text-motivation{
        bottom: 4.15rem;
        .text-quote{
            font-size: 22px;
            margin-bottom: 18px !important;
        }
        .text-quote-by{
            font-size: 18px; 
        }
    }
    .carousel-text-hero{
        bottom: 1rem;
        .btn{
            font-size: 16px;
        }
        .text-hero{
            font-size: 16px !important
        };
        .text-title{
            font-size: 18px !important
        };
    }
}
