@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "hamburger.css";

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
} 
.navbar{
    .nav-link{
        color: black;
    }
    .fa-bag-shopping{
        font-size: 18px;
    }
}

.hero{
    margin-top: 56px;
}
.carousel-caption{
    bottom: 7rem;
    text-align: left;
}
/* Smartphone */
/* @media (max-width: 575.98px)   */
@media (max-width: 767.98px) { 
    .carousel-caption{
        bottom: .15rem;
        left: 10%;
        .btn{
            font-size: 8px;
        }
        .text-hero{
            font-size: 8px !important
        };
        .text-title{
            font-size: 10px !important
        };
    }
}
/* Desktop and Ipad */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .carousel-caption{
        bottom: 1rem;
        .btn{
            font-size: 16px;
        }
        .text-hero{
            font-size: 16px !important
        };
        .text-title{
            font-size: 18px !important
        };
    }
}
